<h1 class="text-danger font-weight-bold border-bottom border-primary my-4">{{ page.title }}</h1>
<div class="form-group">
    <!-- Button trigger modal -->
    <a href="{{ pages.get('/products/search/').url }}" class="btn btn-primary cart-item-search">
        Search Items
    </a>
    <a href="{{ pages.get('/customers/').url }}" class="btn btn-danger">
        Change Customer
    </a>
</div>
<div class="list-group">
    <div class="list-group-item list-group-item-action bg-secondary text-white font-weight-bold">
        <div class="row">
            <div class="col">ItemID</div>
            <div class="col text-right">Price</div>
            <div class="col text-right">Qty</div>
            <div class="col text-right">Total</div>
            <div class="col text-right">Edit / Remove</div>
        </div>
    </div>
    {% for detail in details %}
        {% include 'cart/cart-detail.twig' %}
    {% endfor %}
    <div class="list-group-item bg-light">
        <div class="row">
            <div class="col-12 col-sm"></div>
            <div class="col-6 col-sm text-right"></div>
            <div class="col-6 col-sm text-right"></div>
            <div class="col-6 col-sm text-right">
                <div class="d-sm-none"><b>Cart Total</b></div>
                <br>
                <strong>Cart Total:&emsp;$ {{ cart.subtotal|number_format(2, '.', ',') }}</strong>
            </div>
            <div class="col-12 col-sm text-right"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="{{ create_salesorder }}" class="btn btn-block btn-primary mt-3" data-type="order">
        		Create Order&nbsp;&ensp;<i class="fa fa-arrow-circle-right text-white" aria-hidden="true"></i>
        	</a>
        </div>
    </div>
</div>
