<h1 class="text-danger font-weight-bold border-bottom border-primary my-4">{{ page_title }}</h1>
{% if order.is_onreview() %}
    <div class="alert alert-danger" role="alert">
        <strong><i class="fa fa-warning" aria-hidden="true"></i>&nbsp;Pending Order!</strong>&nbsp;&nbsp;This order will be processed once it is approved.
    </div>
{% endif %}
{% if order.is_approved() %}
    <div class="alert alert-success" role="alert">
        <strong><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Approved Order!</strong>&nbsp;&nbsp;This order has been approved.
    </div>
{% endif %}
<h5 class="font-weight-bold">Ordered on {{ dplusdatetime.format_date(order.order_date) }}</h5>

<a href="<?= $page->parent->url; ?>" class="btn btn-primary mt-3">
    <i class="fa fa-arrow-circle-left text-white" aria-hidden="true"></i>&nbsp;&nbsp;To Orders Page
</a>

<div class="row mt-4">
    <div class="col-sm-4">
        <legend class="font-weight-bold text-danger">Billing</legend>
        {% set customer = customer.load(order.custid) %}
        <address>
            {{ customer.name }} ({{ order.custid }})<br>
            {{ customer.addr1 }}<br>
            {% if customer.addr2 is not empty %}
                {{ customer.addr2 ~ "<br>" }}
            {% else %}
                {{ '' }}
            {% endif %}
            {{ customer.city ~ ', ' ~ customer.state ~ ' ' ~ customer.zip }}
        </address>
    </div>
    <div class="col-sm-4">
        <legend class="font-weight-bold text-danger">Shipping</legend>
        <address>
            {{ order.shipto_name }} {{ order.shiptoid }}<br>
            {{ order.shipto_address1 }}<br>
            {% if order.addr2 is not empty %}
                {{ order.addr2 ~ "<br>" }}
            {% else %}
                {{ '' }}
            {% endif %}
            {{ order.shipto_city ~ ', ' ~ order.shipto_state ~ ' ' ~ order.shipto_zip }}
        </address>
    </div>
    <div class="col-sm-4">
        <legend class="font-weight-bold text-danger">Order Summary</legend>
        <div class="row">
            <div class="col-sm-7">Subtotal:</div>
            <div class="col-sm-5 text-right">$ {{ order.subtotal_tax }}</div>
        </div>
        <div class="row">
            <div class="col-sm-7">Shipping:</div>
            <div class="col-sm-5 text-right">$ {{ order.total_freight }}</div>
        </div>
        <div class="row">
            <div class="col-sm-7">Tax:</div>
            <div class="col-sm-5 text-right">$ {{ order.total_tax }}</div>
        </div>
        <div class="row">
            <div class="col-sm-7">Total:</div>
            <div class="col-sm-5 text-right">$ {{ order.total_order }}</div>
        </div>
    </div>
</div>

<h3 class="font-weight-bold text-danger mt-4">Order Details</h3>
<table class="table table-striped table-borderless">
	<thead class="bg-secondary text-white font-weight-bold">
        <div class="row">
            <th>Item ID</th>
			<th class="text-right">Qty</th>
			<th class="text-right">Price</th>
            <th class="text-right">Total Price</th>
        </div>
	</thead>
    {% include 'orders/order-detail.twig' %}
</table>
<div class="pb-5">
    <div class="row">
        <div class="col-sm-9 text-right">Subtotal:</div>
        <div class="col-sm-3 text-right">$ {{ order.subtotal_tax }}</div>
    </div>
    <div class="row">
        <div class="col-sm-9 text-right">Shipping:</div>
        <div class="col-sm-3 text-right">$ {{ order.total_freight }}</div>
    </div>
    <div class="row">
        <div class="col-sm-9 text-right">Tax:</div>
        <div class="col-sm-3 text-right">$ {{ order.total_tax }}</div>
    </div>
    <div class="row font-weight-bold">
        <div class="col-sm-9 text-right">Total:</div>
        <div class="col-sm-3 text-right">$ {{ order.total_order }}</div>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="<?= $page->parent->url; ?>" class="btn btn-primary">
            <i class="fa fa-arrow-circle-left text-white" aria-hidden="true"></i>&nbsp;&nbsp;Back to Orders Page
        </a>
    </div>
    {% if (salesmngr or admin) %}
        <div class="col">
            {% if not order.is_approved() %}
                <a href="{{ orderdisplay.generate_releaseurl(order) }}" class="btn btn-warning float-right">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Approve Sales Order
                </a>
            {% endif %}
        </div>
    {% endif %}
    <div class="col">
        {% if order.can_editapproved() %}
            <a href="{{ orderdisplay.generate_editurl(order) }}" class="btn btn-warning float-right">
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit Sales Order
            </a>
        {% endif %}
    </div>
</div>
