<h1 class="text-danger font-weight-bold border-bottom border-primary my-4">{{ page.title }}</h1>
	<!-- Total orders to toggle search -->
<div>
	<div class="form-group">
		<div class="list-group-item list-group-item-action bg-primary text-white font-weight-bold">
			Total Orders <span class="badge badge-pill badge-light">{{ salesordersdisplay.count }}</span>
			<span class="pull-right">Page {{ salesordersdisplay.pagenbr }}</span>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-sm-6">
			{{ paginator.generate_showonpage()|raw }}
		</div>
		<div class="col-sm-6">
			<button class="btn btn-primary toggle-order-search pull-right" type="button" data-toggle="collapse" data-target="#orders-search-div" aria-expanded="false" aria-controls="orders-search-div">Toggle Search <i class="fa fa-search" aria-hidden="true"></i></button>
		</div>
	</div>

	<div id="orders-search-div" class="{% if input.get.filter is empty %}collapse{% else %}''{% endif %}">
		<form action="{{ salesordersdisplay.generate_searchURL() }}" method="get" data-ordertype="sales-orders" data-loadinto="#orders-panel" data-focus="#orders-panel" data-modal="#ajax-modal" class="orders-search-form allow-enterkey-submit">
			<input type="hidden" name="filter" value="filter">

			<div class="row">
				<div class="col-sm-2">
					<h4>Hold Status</h4>
					<input type="checkbox" name="holdstatus[]" value="n" {{ salesordersdisplay.has_filtervalue('holdstatus', 'n') ? 'checked' : '' }} >
					<label>&emsp;Approved</label></br>
					<input type="checkbox" name="holdstatus[]" value="R" {{ salesordersdisplay.has_filtervalue('holdstatus', 'R') ? 'checked' : '' }} >
					<label>&emsp;On Review</label>
				</div>
				<div class="col-sm-3">
					<h4>Order #</h4>
					<input class="form-control form-group inline input-sm" type="text" name="ordernumber[]" value="{{ salesordersdisplay.get_filtervalue('ordernumber') }}" placeholder="From Order #">
					<input class="form-control form-group inline input-sm" type="text" name="ordernumber[]" value="{{ salesordersdisplay.get_filtervalue('ordernumber', 1) }}" placeholder="Through Order #">
				</div>
				<div class="col-sm-2">
					<h4>Cust ID</h4>
					<div class="input-group form-group">
						<input class="form-control form-group inline input-sm" type="text" name="custid[]" id="sales-order-cust-from" value="{{ salesordersdisplay.get_filtervalue('custid') }}" placeholder="From CustID">
					</div>
					<div class="input-group form-group">
						<input class="form-control form-group inline input-sm" type="text" name="custid[]" id="sales-order-cust-to" value="{{ salesordersdisplay.get_filtervalue('custid', 1) }}" placeholder="Through CustID">
					</div>
				</div>
				<div class="col-sm-3">
					<h4>Order Total</h4>
					<div class="input-group form-group">
						<input class="form-control form-group inline input-sm" type="text" name="total_order[]" id="order-total-min" value="{{ salesordersdisplay.get_filtervalue('total_order') }}" placeholder="From Order Total">
						<span class="input-group-append">
							<button type="button" class="btn btn-outline-secondary input-group-text not-round" onclick="$('#order-total-min').val('{{ salesordersdisplay.get_minsalesordertotal() }}')"> <span class="fa fa-angle-double-down" aria-hidden="true"></span> <span class="sr-only">Min</span> </button>
						</span>
					</div>
					<div class="input-group form-group">
						<input class="form-control form-group inline input-sm" type="text" name="total_order[]" id="order-total-max" value="{{ salesordersdisplay.get_filtervalue('total_order', 1) }}" placeholder="Through Order Total">
						<span class="input-group-append">
							<button type="button" class="btn btn-outline-secondary input-group-text not-round" onclick="$('#order-total-max').val('{{ salesordersdisplay.get_maxsalesordertotal() }}')"> <span class="fa fa-angle-double-up" aria-hidden="true"></span> <span class="sr-only">Max</span> </button>
						</span>
					</div>
				</div>
				<div class="col-sm-2">
					<h4>Order Date</h4>
					{% set name = 'order_date[]' %}
                    {% set value = salesordersdisplay.get_filtervalue('order_date') %}
					{% include 'common/date-picker.twig' %}
					<label class="small text-muted">From Date </label>

                    {% set name = 'order_date[]' %}
                    {% set value = salesordersdisplay.get_filtervalue('order_date', 1) %}
					{% include 'common/date-picker.twig' %}
					<label class="small text-muted">Through Date </label>
				</div>
			</div>
			</br>
			<div class="row">
				<div class="form-group col-md-6">
					<button class="btn btn-primary btn-block" type="submit">
						Search <i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</div>
				{% if input %}
					<div class="form-group col-md-6">
						<a href="{{ salesordersdisplay.generate_loadurl() }}"  class="btn btn-warning btn-block">
							Clear Search <i class="fa fa-search-minus" aria-hidden="true"></i>
						</a>
					</div>
				{% endif %}
			</div>
			<hr class="bg-danger">
		</form>
	</div>
</div>

<!-- TABLE HEADER -->
<div class="list-group">
	<div class="form-group">
		<div href="#" class="list-group-item list-group-item-action bg-secondary font-weight-bold">
			<div class="row">
				<div class="col">
					<a href="{{ salesordersdisplay.generate_sortbyURL('ordernumber') }}" class="text-white" {{ salesordersdisplay.ajaxdata }}>
						Order # {{ salesordersdisplay.tablesorter.generate_sortsymbol('ordernumber')|raw }}
					</a>
				</div>
				<div class="col">
					<a href="{{ salesordersdisplay.generate_sortbyURL('custid') }}" class="text-white" {{ salesordersdisplay.ajaxdata }}>
						Customer {{ salesordersdisplay.tablesorter.generate_sortsymbol('custid')|raw }}
					</a>
				</div>
				<div class="col">
					<a href="{{ salesordersdisplay.generate_sortbyURL('shiptoid') }}" class="text-white" {{ salesordersdisplay.ajaxdata }}>
						Ship-To {{ salesordersdisplay.tablesorter.generate_sortsymbol('shiptoid')|raw }}
					</a>
				</div>
				<div class="col text-right">
					<a href="{{ salesordersdisplay.generate_sortbyURL('total_order') }}" class="text-white" {{ salesordersdisplay.ajaxdata }}>
						Order Totals {{ salesordersdisplay.tablesorter.generate_sortsymbol('total_order')|raw }}
					</a>
				</div>
				<div class="col text-right">
					<a href="{{ salesordersdisplay.generate_sortbyURL('order_date') }}" class="text-white" {{ salesordersdisplay.ajaxdata }}>
						Order Date {{ salesordersdisplay.tablesorter.generate_sortsymbol('order_date')|raw }}
					</a>
				</div>
			</div>
		</div>
        {% include 'orders/orders-details.twig' %}
	</div>
	<div class="align-self-center">{% include 'common/paginator.twig' %}</div>
</div>

<a href="{{ page.parent.url }}" class="btn btn-primary my-1">
	<i class="fa fa-arrow-circle-left text-white" aria-hidden="true"></i>&nbsp;&nbsp;Go back
</a>
