{% set details = orderhistorydisplay.get_orderdetails(order) %}
{% for detail in details %}
    <tr>
        <td>
            {{ detail.itemid }}</br>
            <small>{{ detail.desc1 }}</small>
        </td>
        <td class="text-right">{{ detail.qty|number_format() }}</td>
        <td class="text-right">$ {{ detail.price|number_format(2, '.', ',') }}</td>
        <td class="text-right">$ {{ detail.totalprice|number_format(2, '.', ',') }}</td>
    </tr>
{% endfor %}
